.review-form-container {
    background: url('../../../../images/orange-background-with-halftone_1393-315.jpg');
    display: flex;
    align-items: center;
}
.review-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.review-form input {
    width: 50%;
    margin: 5px auto;
    padding: 5px;
    border-radius: 3px;
}
.review-form input:focus {
    border: 5px solid aquamarine;
    border-radius: 5px;
}