.process-container {
    color: darkgray;
    background-image: url('../../../images/process-bg.jpg');
    opacity: 0.9;
    opacity: 0.9;
    z-index: -5;
    margin: auto;
    padding: 5px;
}
.process-card {
    border-radius: 7px;
    box-shadow: 3px 3px 1px darkorchid;
    text-align: center;
}
.process-card h4 {
    color: lightgreen;
}
.process-card img:hover {
    background-color: greenyellow;
}